# Web Framework
fastapi==0.118.0
uvicorn[standard]==0.32.0

# Authentication & Security
python-jose[cryptography]==3.3.0
passlib==1.7.4
argon2_cffi==23.1.0

# Database - PostgreSQL
SQLAlchemy==2.0.43
asyncpg==0.30.0
alembic==1.13.1

# Scheduler
APScheduler==3.10.4
aiohttp==3.9.1

# Database - MongoDB
motor==3.3.2
beanie==1.23.6
pymongo==4.6.1

# Cache & Session
redis==6.4.0

# Email
fastapi_mail==1.5.0

# File Handling
aiofiles==24.1.0
python-multipart==0.0.9
python-magic==0.4.27

# Image & CV Processing
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
Pillow==11.3.0
qrcode==8.2

# Utilities
joblib==1.5.2
pydantic==2.11.10
python-dotenv==1.1.1
Requests==2.32.5